#Label{
 -fx-text-fill:#FFFFFF;
}
#numberOfProducts{
 -fx-text-fill:#BAEAC3;
}
#sfondo{
    -fx-background-color: #1b2141;
}
#carrello{
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;
}
#product{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 100;
}
#text-area *.text {
    -fx-text-alignment: center;
}