
#Label {
    -fx-text-fill: #FFFFFF;
}

#numberOfProducts {
    -fx-text-fill: #0b831f;
}

#sfondo {
    -fx-background-color: #0e1d40;
}

.buyButton {
    -fx-background-color: #0b831f;
    -fx-background-radius: 50;
    -fx-text-fill: #ffffff;
}

.sellButton {
    -fx-background-color: #8a0000;
    -fx-background-radius: 50;
    -fx-text-fill: #FFFFFF;
}

#carrello {
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;
}

.numberOfProducts {
    -fx-background-color: #0e1d40;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 100;
}

#product {
    -fx-background-color: rgba(255, 255, 255, 0);
}

#productBought {
    -fx-background-color: rgba(11, 131, 31, 0.44);
    -fx-background-radius: 100;
}

#productRemoved {
    -fx-background-color: rgba(138, 0, 0, 0.5);
    -fx-background-radius: 100;
}

#text-area *.text {
    -fx-text-alignment: center;
}